.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif, "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.header{
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height:720px;
  max-height:800px ;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  display: flex;
  align-items: start;
  width: 80px;
  height: 57px;

}

.nav__links{
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;
}

.nav__link{
  color: #000;
  text-decoration: none;
  font-weight: lighter;
}

.header__title{
  max-width: 601px;
  font-size: 45px;
  margin: 180px 0 0;
  font-family:"Noto Serif", "Times New Roman", serif; ;
  color: #2f80ed;
  font-style: italic;
  font-weight: 500;
  padding-left: 30px;
}

.header__subtitle{
  font-size: 42px;
  font-weight: 500;
  padding-left: 30px;
}

.header__description{
  max-width: 520px;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  font-family: Noto-Serif;
  padding-left: 30px;
}

.header__background{
z-index: -1;
position: absolute;
right: 0;
}

 .header__image{
  z-index: 1;
  position: absolute;
  top: 90px;
  right: 20px;
  max-width: 636px;

 }
 .header__footer{
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 220px;
  margin-left: -20px;
 }

 .header__hour{
  margin: 0;
  color: #838383;
  list-style: none;
 }

 .header__address{
  margin: 0;
  color: #838383;
 }

 .content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height:720px;
  max-height:800px ;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
 }

 .content__title

 .footer{

 }