.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif, "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;

}

.header{
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height:720px;
  max-height:800px ;
  position: relative;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__logo{
  display: flex;
  align-items: start;
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;

}

.nav__links{
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 20px;
  position: relative;
  top: 30px;
  right: 80px;
}

.nav__link{
  color: #000;
  text-decoration: none;
  font-weight: lighter;
}

.span-accent{
  font-family:"Noto Serif", "Times New Roman", serif;
  color: #2f80ed;
  font-style: italic;
}

.header__title{
  font-size: 60px;
  font-weight: 500;
  margin-left: 80px;
  max-width: 729px;
  letter-spacing: 0.6px;
  line-height: 72px;
  margin-top: 183px;
  margin-left: 80px;
}

.header__description{
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  margin-top:28px;
  font-family:"Noto Serif", "Times New Roman", serif;
  margin-left: 80px;
}

.header__background{

    z-index: -1;
    position: absolute;
    background-size: cover;
    right: 0;
}


 .header__image{
  z-index: 1;
    position: absolute;
    top: 124px;
    right: 1px;
    width: 646px;
    height: 568px;

 }
 .header__footer{
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: -20px;
 }

 .header__hour{
  color: #838383;
  list-style: none;
  margin-left: 60px;
  margin-bottom: 31px;
 }

 .header__address{
  margin: 0;
  color: #838383;
  margin: 0;
  color: #838383;
  margin-right: 80px;
 }

 .content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height:720px;
  max-height:800px ;
  position: relative;
  box-sizing: border-box;
  background-color: #0a2750 ;
 }

 .recipes__title{
  font-size: 44px;
  font-weight: 500;
  padding-left: 30px;
  color: #fff;
  margin-top: 72px;
  line-height: 52px;
  max-width: 580px;
margin-top: 100px;
margin-left: 80px;
 }

 .recipes__description{
  max-width: 438px;
  font-size: 20px;
  line-height: 30px;
  padding-left: 30px;
  font-family:"Noto Serif", "Times New Roman", serif;
  color: #fff;
 margin-left: 80px;
 margin-top: 24px;
 }

 .recipes__image{
    position: absolute;
    right: 39px;
    top: -49px;
    max-height: 992px;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .recipes__video{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  column-gap: 40px;
  margin-top: 80px;

 }

 .recipes__iframes{
  width:480px;
  height: 273px;
  border:0px;
 }

 .recipes__video-caption{
  display: flex;
    color: #fff;
    column-gap: 133px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-left: 47px;
    position: relative;
    justify-content: center


 }
 .footer{

 }